<% mce_id = "#{@profile.dom_id}_content"
location_id = 'location' -%>
<%= tiny_mce_messages_and_scripts_for(mce_id, @profile) %>
<%= country_scripts %>
<div id="edit_content" class="span-24 colborder column">
  <%= output_errors(t('muck.profiles.problem_editing_profile'), {:class => 'help-box'}, @profile) %>
  <%= profile_form(@user) do |f| -%>
    <%# can add form fields as desired here -%>
    <%= f.text_field :first_name, { :label => t('muck.users.first_name') } %>
    <%= f.text_field :last_name, { :label => t('muck.users.last_name') } %>
    <%= f.text_field :email, { :label => t('muck.users.email') } %>
    <%= f.fields_for(:profile, :builder => MuckEngine::FormBuilder) do |pf| %>
      <div id="edit_profile_image">
        <%= icon @user, :thumb %>
        <%= pf.file_field :photo, { :label => t('muck.profiles.upload_photo') } %>
      </div>
      <%= pf.text_field :location, {:id => location_id, :class => 'tags', :tip => t('muck.profiles.location_help'), :label => t('muck.profiles.location') } %>
      <%= location_suggestion(location_id) if @profile.location.blank? && MuckProfiles.configuration.enable_geokit %>
      <%#= pf.text_field :skill_list, {:class => 'tags', :tip => t('muck.profiles.skills_help'), :label => t('muck.profiles.skills') } %>
      <%#= pf.text_field :interest_list, {:class => 'tags', :tip => t('muck.profiles.interests_help'), :label => t('muck.profiles.interests') } %>
      <%= pf.state_select(:state_id, {:tip => t('muck.profiles.state_help'), :label => t('muck.profiles.state')}) %>
      <%= pf.country_select(:country_id, {:tip => t('muck.profiles.country_help'), :label => t('muck.profiles.country')}) %>
      <%= pf.language_select(:language_id, {:tip => t('muck.profiles.language_help'), :label => t('muck.profiles.language')}) %>
      <%= pf.text_area :about, { :label => t('muck.profiles.about'),
                                :class => 'mceEditor',
                                :id => mce_id} %>
    <% end %>
  <% end -%>
</div>
